.section {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px;
    // box-shadow: 0px 1px 1px var(--polank-color), 0px 4px 4px var(--polank-color),
    // 1px 4px 6px var(--polank-color);
    @media screen and (min-width:1200px) {
      padding-top: 94px;
      padding-bottom: 94px ;
      
    }
  }
  .section-benefits,
  .section-work,
  .section-team {
    display: flex;
    gap: 30px;
  }
  .assorti {
  //   background-image: url(../images/muka.jpg);
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   margin: auto;
  //   @media screen and(min-width:1200px) {
      
  //     max-width: 1600px;
    
  // }
}