body {
  font-family: "Roboto", sans-serif;
  
}
:root {
  --basic-text-color: #212121;
  --accent-text-color: rgba(96, 174, 55);
  --light-color: #ffffff;
  --secondary-text-color: #757575;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --bcg-color: #2f303a;
  --bcg-button-color: #f5f4fa;
  --bcg-focus-button: #188ce8;
  --card-border: #eeee;
  --header-border: #ececec;
  --icon-color: #afb1b8;
  --polank-color: rgba(97, 36, 0);
}
body {
  background-image: url(../images/muka.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  @media screen and(min-width:1200px) {
    
    max-width: 1600px;
  
}
}
