.benefits__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--polank-color);
  // @media screen and(min-width:768px) {
  //   display: block;
  // }
}

.benefits__item {
  max-width: 100%;
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 90px) / 4);
    overflow: hidden;
  }
}

.benefits__icon {
  border: 1px var(--polank-color) ;
  color: var(--polank-color);
  display: flex;
  border-radius: 4px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.icon {
  fill: currentColor;
}
.benefits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}
.benefits__text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.price-position{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: circle;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1166;
  letter-spacing: 0.02em;
  color: var(--polank-color);
  @media screen and(min-width:1200px) {
  font-size: 24px;
  }
}