.benefits__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-text-color);
  @media screen and(min-width:768px) {
    display: block;
  }
}

.benefits__item {
  max-width: 100%;
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 90px) / 4);
    overflow: hidden;
  }
}

.benefits__icon {
  display: flex;
  border-radius: 4px;
  background-color: var(--bcg-button-color);
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.benefits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}
.benefits__text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
