.footer {
    background-color: var(--accent-text-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @media screen and (min-width:1200px) {
      display: inline-block;
      
    }
  }
  .address-list {
    // display: flex;
    // flex-direction: column;
    gap: 9px;
    // margin-bottom: 60px;
  }
  .address {
    font-style: normal;
  }
  .address-text {
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--light-color);
    @media screen and (min-width:1200px) {
      align-items: baseline;
      justify-content: baseline;
      
    }

  }
  
.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--light-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width:1200px) {
    display: block;
    align-items: baseline;
    justify-content: baseline;
  }
}

// .footer-contacts:hover,
// .footer-contacts:focus {
//   color: var(--accent-text-color);
// }
.footer-list-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width:768px){
    justify-content: space-around;
    align-items: baseline;
    gap: 60px;
  }
  @media screen and (min-width:1200px){
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  // flex-direction: column;
  // flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  // align-items: center;
  // justify-content: center;
  @media screen and (min-width:768px){
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  @media screen and (min-width:1200px){
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 70px;
  }
  
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
// &:focus {
//   background-color: var(--accent-text-color);
// }
}
.footer-icon {
  fill: currentColor;
}


.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bcg-color);
  padding: 15px 16px;
  color: var(--light-color);
}

.footer-form {
  @media screen and (min-width:1200px){
    display: flex;
    gap: 12px;
  }
  
}
.subscription {
  display: flex;
 flex-direction: column;
 align-items: center;
 @media screen and (min-width:1200px){
  margin-left: auto;
  align-items: baseline;
}

}
.footer-group{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.address-list .item:not(:last-child){
  margin-bottom: 9px;
}